extends layout

block content
      header
        h1= title
        form#formAddUser(name="adduser",method="post",action="/adduser")
            input#inputUserName(type="text", placeholder="username", name="username")
            input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
            button#btnSubmit(type="submit") submit

      body
        h1.
            User List
        ul
            each user, i in userlist
                li
                    a(href="mailto:#{user.email}")= user.username
